@import "../themes/theme.css";
@import "../themes/buttons.css";
@import "../themes/heading.css";
@import "../themes/inputs.css";
@import "../themes/login.css";
@import "../themes/posts.css";
@import "../themes/users.css";

*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column nowrap;
}

.header{
    flex: 0 0 64px;
    background-color: rgba(246, 247, 248, 1);
}

.content{
    margin-top:129px;
    flex: 1 1 auto;
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
}

.content-box{
    width: 100%;
    display: flex;
    justify-content: center;

    .choose-buttons{
        display: flex;
        max-width: 824px;
        width: 100%;
        /* margin: 0 10px 0 10px; */
        flex: 1 1 auto;
        flex-wrap: wrap;
        padding: 0 10px 0 10px;
        margin: 0 0 44px 0;
        
        .button-box{
            width: auto;
            height: auto;
        }
    }
}
