@import "theme.css";

.heading{
    background-color: var(--bg-heading);
    width: 100%;
    height: 64px;
    max-height: 100px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    position: fixed;
    font-family: sans-serif;

    .heading-cent{
        max-width: 824px;
        min-width: 450px;
        width: 100%;
        column-gap: 32px;
        flex-wrap: nowrap;
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;
        margin: 0 10px 0 10px;

        .heading-left{
            width: auto;
            min-width: 29px;
            display: flex;
            align-items: center;
            gap: 25px;
            flex-wrap: nowrap;
            /* margin-left: 10px; */
            justify-content: flex-start;
            
            .logo{
                height: 29px;
            }

            .field{
                height: 32px;
                width: 320px;
                border-radius: 8px;
                background-color: var(--bg-neutral-1);
                padding: 6px 10px;
                border: thin solid transparent;

                @media screen and (prefers-reduced-motion: no-preference){
                    transition: border .2s linear, background-color .2s linear, color .2s linear;
                }

                &:focus{
                    outline:none;
                    background-color: var(--bg-focus-1);
                    border-color: var(--border-neutral-1);
                }
            }
        }
        .heading-right{
            min-width: 70px;
            display: flex;
            gap: 16px;
            align-items: center;
            flex-wrap: nowrap;
            width: auto;

            .signup{
                --boxed-text-color: var(--text-secondary);

                width: auto;
                height: auto;
                display: flex;
                flex-wrap: nowrap;
                gap: 8px;
                border: none;
                background-color: var(--bg-heading);
                color: var(--boxed-text-color);

                @media screen and (prefers-reduced-motion: no-preference){
                    transition: border .2s linear, background-color .2s linear, color .2s linear;
                }

                &:disabled{
                    background-color: #ccc;
                }     

                &:not(disabled){
                    @media screen and (hover: hover){
                        &:hover{
                            --boxed-text-color: var(--text-primary-on-accent);
                        }
                    }

                    &:active{
                        background-color: var(--bg-accent-active);
                        /* transition: none; */
                    }
                }


                .text{
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 20px;
                    letter-spacing: 0px;
                    vertical-align: middle;
                }

                .heading-button{
                    width: 24px;
                }
            }
        }
    }
}