@import "../theme.css";

.login-dialog{
    margin: auto;
    min-width: 320px;
    width: 414px;
    padding: 20px 24px 24px;
    border-radius: 20px;
    box-shadow: 0 6px 34px rgba(0,0,0, 0.04);

    .login-title{
        text-align: center;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-block-end: 20px;
    }

    .login-fields{
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;

        .field-row{
            display:flex;
        }
    }

    .login-footer{
        margin-block-start: 20px;
        display: flex;
        flex-flow: wrap-reverse;
        gap: 12px;

    }
}